/*
Orange #F6851F
*/

body { background:#fff;color:#333;font-family:Arial, Helvetica, sans-serif;font-size:13px;letter-spacing:1px; }
a, a:visited { color:#666;text-decoration:none;outline:0; }
a:hover, a:focus { color:#000; }
.mceEditor{ display:block;padding:0;background:none;	} /* Outline fix for validation errors */
 
h1, h2, h3, .title {
	color:#333;
	font-weight:normal;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	line-height:130%;
}
h1, .title1 { margin:24px 0 12px 0;font-size:28px; }
h2, .title2 { margin:20px 0 12px 0;font-size:22px; }
h3, .title3 { margin:16px 0 12px 0;font-size:18px; }
h4, .title4 { margin:16px 0 12px 0;font-size:14px; }

.title:first-child, .title.alpha,
h1:first-child,	h1.alpha, 
h2:first-child, h2.alpha,
h3:first-child, h3.alpha { margin-top:0; }

.input.text input,.input.password input,.input textarea,.input select, .mceEditor {
	width:95%;
	padding:3px 5px;
	border: solid 1px #BAB8BC;
	box-shadow:none;
	background:#fff;
	font-style:italic;
}

.input.text input:hover,.input.password input:hover,.input textarea:hover,.input select:hover,
.input.text input:focus,.input.password input:focus,.input textarea:focus,.input select:focus{ 
	border-color: #666; 
	box-shadow:none;
}

/****** @Paginator ******/

.paginator {
	text-align:center;
	margin-bottom:15px;
	padding:10px 40px;
	font-weight:bold;
 }

.paginator .current {  }
.paginator .buttons { overflow:auto; }

.paginator .first,
.paginator .prev,
.paginator .next,
.paginator .last {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:38px;
	height:22px;
	background:no-repeat top;
	border:#BBB solid 1px;
}
.paginator .first { background-image:url(/img/first.png); }
.paginator .next { background-image:url(/img/next.png); }
.paginator .prev { background-image:url(/img/prev.png); }
.paginator .last { background-image:url(/img/last.png); }

.paginator .first.disabled,
.paginator .next.disabled,
.paginator .prev.disabled,
.paginator .last.disabled,
.paginator .first:hover,
.paginator .next:hover,
.paginator .prev:hover,
.paginator .last:hover { background-position:bottom; }

.paginator .numbers {
	line-height:24px;
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 8px;
}
.paginator .numbers span { color:#CCC; }

/****** @Layout ******/

#nofooter{
	position:relative;
	width:960px;
	margin:0 auto;
} * html #nofooter{ height:100%; }

#header {
	overflow:hidden;
	position:relative;
	height: 105px;
	z-index:1;/*IE7*/
}

#logo {
	position:relative;
	float:left;
	width:152px;
	height:102px;
	margin:2px 50px 0 12px;
	background:url(/img/logo.jpg);
} #logo a { position:absolute;display:block;width:100%;height:100%;top:0;left:0;text-indent:-99999px; }

.outside {
	position:absolute;
	width:100%;
	height:0px;
	top:0;
	left:0;
	z-index:-1;
}
.headerInfo {
	margin:0;
	background:#EFEFEF;
	overflow:hidden;
	padding:12px 14px;
}
.headerInfo p { margin:4px 0 0 0;color:#666; }
.headerInfo p:first-child {
	color:#F6851F;
	text-transform:uppercase;
	margin:0;
	font-weight:bold;
}

#menu {
	float: left;
	width:480px;
	text-align:left;
	margin:32px 60px 0 0;
	padding:0;
}
#menu li { margin:0 0 0 0px;overflow:hidden; }
#menu li:hover { overflow: visible; }
#menu li, #menu li a { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
#menu li a {
	height:42px;
	line-height:42px;
	padding:0 16px;
	text-decoration:none;
	text-transform:uppercase;
	color:#b2b2b2;
	font-size:12px;
}
#menu li a:hover, #menu li.mSelected a { background-position:bottom; }
.submenu {
	position:absolute;
	display:block;
	top:100%;
	left:0;
	width:100%;/*IE7*/
}
#menu .submenu li {
	margin:0;
	width:100%; /*IE7*/
}
#menu .submenu li a {
	display:block;
	line-height:18px;
	font-size:16px;
	border-top:#fff solid 1px;
	background-color:#242424;
	color:#fff;
	padding:6px 10px;
	margin:0;
	text-align:center;
	text-decoration:none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#menu .submenu li a:hover { background-color:#666;color:#fff; }
#menu .submenu li:first-child a { border-top:0; }

#body {
	overflow:visible;
	padding:8px 8px 20px;
	border:#E2E2E2 solid 1px;
	z-index:0;/*IE7*/
}

.clearboth { clear:both;height:0; } 
#cleaner { clear:both;width:100%;height:415px;/* para margen negativo del footer */ } 
.footer {
	position:relative;
	text-align:left;
	font-size:12px;
	color:#666;
	z-index:-1;
}
.footer .center { position:relative;margin:0 auto;width:960px;height:158px; }
.footer > .center { padding:42px 0 0 0; }
.footer .grey_top { background:#E4E5DD; }
.footer .grey_bottom { background:#F5F5F5; }
.footer .grey_top .center { height:27px;}
.footer .grey_bottom .center { height:168px;}

.footer ul { color:#8C7F79;float:right;width:50%;text-align:right;font-size:13px; }
.footer ul li { display:inline; }
.footer ul li a { padding:3px 18px;font-family: Signika, sans-serif; }

.footer a:hover, .footer a:focus { text-decoration:underline; }

/**** @BLOCKS **************/

.content, .sidebar, .pad { overflow:hidden; }

#body > .contentwide { }
	#body > .contentwide > .pad { padding:0; }

#body > .content { float:right;width:740px;margin-left:16px; }
	#body > .content > .pad { padding:0; }

#body > .sidebar { background:#BAB8BC;min-height:467px;color:#fff; }
	#body > .sidebar > .pad { padding:12px 0 0 0; }

.c_inicio #body > .content { width:756px;margin-left:1px; }
/* #body > .content > .pad { padding:0 0; } */


/******** @SIDEBAR ************************************************/

.recursive_list { }

.recursive_list li {  }
.recursive_list li a,.recursive_list li span {
	display:block;
	color:#fff;
	padding:7px 8px 7px 18px;
	background:url(/img/bullet.png) no-repeat 8px 12px;
	letter-spacing: 0;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}
.recursive_list li a:hover,.recursive_list li.selected a { background:#F6851F; }
.recursive_list li.novedades a {
	background:#98C94A;
	color:#fff;
	font-size:20px;
	font-weight:normal;
	font-style:italic;
	text-shadow:3px 3px 3px #4F6927;
}
.recursive_list li.novedades a:hover { text-shadow:3px 3px 3px #694227;background:#F6851F; }

.recursive_list > li { margin:0 0 8px; }
.recursive_list > li > a { font-weight:bold;font-size:17px;background:#a4a4a4;line-height:18px;cursor: default; }
.recursive_list > li > a:hover { background:#a4a4a4; }

.banners { padding:10px 0 2px 0; }
.banners .banner { display:block;margin:0 auto 8px auto; }

#banners {
	float:left;
	width:742px;
	margin:0 26px 0 0;
}

#support { }
#support h2 { }
#support iframe { display:block;margin:0 auto 10px auto;border:0;width:180px;height:60px; }

/******** @GENERAL ************************************************/

.noresults { font-size:13px;font-style:italic;padding:12px 0;color:#666; }
.showcase { overflow:hidden; }
.imagefoot { background:#e9e9e9;margin:0;padding:3px 6px;font-size:10px;color:#555;line-height:15px; }
.back {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	background:#ddd url(/img/back.png) no-repeat 8px center;
	line-height:32px;
	padding:0 10px 0 26px;
	margin:0 0 8px 0;
	border-radius:6px;
}
.highlight{ background:#ff8; }
.leydatos { padding:0 8px 4px 8px;line-height:12px;text-align:center;color:#777;font-size:10px; }

.detail > .title:first-child, .sectionHdr{
	height:64px;
	line-height:68px;
	margin:0;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	color:#F6851F;
	padding:0;
}

.more { padding:0 10px 0 0;text-align:right; }
.more a {
	line-height:28px;
	/*background:transparent url(/img/bullet.png) no-repeat left center;*/
	color:#555;
	font-weight:bold;
	text-decoration:underline;
	padding:3px 0 3px 10px;
}

div.submit { text-align:center; }
input[type=submit], .submitBtn {
	background:#F6851F;
	width:90px;
	height:30px;
	border:0;
	color:#fff;
	margin:15px 0 10px 0;
	font-weight:bold;
	
}
div.captcha input { width:30px !important; }
div.captcha label { padding-bottom:3px !important; }
div.captcha label span { padding-left:3px; }
div.captcha > span { padding-left:12px; }
#captchaCode { vertical-align:text-top;color:#242424;font-weight:bold;font-size:90%; }

a.comprometidos_medio_ambiente {
	display:block;
	width:192px;
	height:130px;
	text-indent:-9999px;
	white-space: nowrap;  
	overflow: hidden;
	background:transparent url(/img/comprometidos_medio_ambiente.png) no-repeat center center;
}
.descargables { margin:20px 0 0 0;width: 200px; }
.descargables .title {
	color:#F6851F;
	font-weight:bold;
	padding-bottom:6px;
	border-bottom:#999 solid 1px;
}
.descargables li { margin:0 0 3px; }
.descargables li a {
	display:block;
	padding:4px 22px 4px 0;
	background:transparent url(/img/download.png) no-repeat right 3px;
}

/*** Detail ***/

.date { font-size:10px;color:#999;margin:5px 0 0 0; }
.desc { text-align: justify;overflow:hidden; }
.desc p { margin:0 0 10px 0;  }
.comments {
	float:left;
	width:45px;
	background: url(/img/icoComments.gif) no-repeat left center;
	padding:0 0 0 20px;
	color:#666;
	height:28px;
	line-height:28px;
 }

.detail {}
.detail .clear { margin-top:16px; }

.detail .title { margin:0; }
.detail .date { font-size:11px; }

/*** @Thumb *************/

.thumb, .thWrap, .thMask { overflow:hidden; }
.thumb { padding:8px 16px 15px 16px; }
.thWrap { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
.thMask {
	display:block;
	-moz-box-shadow: 4px 4px 4px #CCC;
	-webkit-box-shadow: 4px 4px 4px #CCC;
	box-shadow: 4px 4px 4px #CCC;
}
.thumb .thWrap {
	width:164px;
	height:128px;
}
.thumb .thWrap, .thWrap.float {
	float:left;
	margin:0 20px 4px 0;
}
.thumb .title { margin:0;font-size:18px; }
.thumb .title a {  }
.thumb .date { margin-top:3px; }
.thumb .desc { margin:8px 0 0 0; }

.thumb.v {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:180px;
}
.thumb.v .thWrap {
	display:block;
	float:none;
	border:0;
	margin:0 0 8px 0;
	width:auto;
	height:auto;
}

.thumb .thPlayer { padding:25px 12px; }
.thumb.v .title { font-size:13px; }
.thumb.v .date { }
.thumb.v .precio { font-style: 14px;font-weight:bold; }
.thumb.v .desc { font-size:11px; }

.thPlayer { padding:25px; }

/* Comments */

#comments { padding:0 18px; }

#commentForm { margin:0 0 15px 0;overflow:hidden; }
#commentForm label, #commentForm .label { font-size:11px;padding:2px 0;font-weight:bold;color:#999; }
#commentForm .subform { overflow:hidden; }
#commentForm .submit { text-align:right;padding:16px 0; }
#commentForm .submit input[type=submit]{ margin:0 }

.comment_textarea { float:left;width:296px; }
.comment_textarea textarea { height:132px; }
.comment_texts { margin-left:318px;padding-right:10px; }
.comment_count {}

.comment { padding:15px 10px; }
.comment.odd{ background:#f3f3f3;border-top:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px; }
.comment .title {  }
.comment .date {  }
.comment .desc {  }

.comment_list { border-top:#a4a4a4 solid 1px; }
.comment_count { line-height:40px; }

#crumbs{ font-size:13px;border-bottom:#ccc solid 1px;padding:0 0 5px 0; }
#crumbs a { padding:3px 8px 3px 12px;background:url(/img/crumb.png) no-repeat left center; }
#crumbs a:first-child{ padding:3px 8px;background:none; }

/******** @INICIO ************************************************/

#carousel {
	margin:0 auto;
	background:#fff url(/img/spinner.gif) no-repeat center center;
	height: 467px;
	overflow:visible;
}
#carousel .mooshowcase_nav { padding:28px 0 0 0;text-align:right; }
#carousel .mooshowcase_nav a { margin:0 0 0 9px; }

.c_inicio .content, .c_inicio .content .pad { overflow:visible; }

/******** @ABOUT ************************************************/

.portada, #portada { float:right;margin:0 0 0 26px;width:236px; }

/******** @PRODUCTS ************************************************/

.inlineGallery { margin:20px 0; }
.inlineGallery .thumb {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:228px;
	padding:0;
	margin:0 9px 15px;
	
}
.inlineGallery .thumb .title { text-align:right;font-size:12px;line-height:15px;padding:4px 0 0 0;font-weight:bold; }
.inlineGallery a {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:10px;
	border:#a4a4a4 solid 1px;
}
.inlineGallery a img {}

.product_novedad .title { margin:0 0 20px;font-size:18px;letter-spacing:0; }
.product_novedad .inlineGallery { margin:0 0 30px; }

/******** @POSTS ************************************************/

.portada.Centro { display:block;margin:0 auto 15px auto;text-align:center; }
.portada.Centro img { display:block;width:100%; }
.portada.Derecha { float:right;margin-right:0; }
.portada.Izquierda { float:left;margin-left:0; }

.share { padding:10px 0;overflow:hidden; }
.share > div { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }

/***** @CONTACTO *******************************************/

.c_contacto .note { margin:0 0 15px; }
.c_contacto .form { float:left;width:320px; }

.c_contacto .form label{ padding:0 5px 3px;font-weight:bold;font-size:11px;color:#666; }
.c_contacto .form p:first {  }
.c_contacto .form .subform { padding:0; }
.c_contacto .form .input.text input, .input textarea { width:95%;font-size:14px; }

.c_contacto .info { margin-left:385px; }
.c_contacto .info p { margin:0 0 16px 0; }
.c_contacto .info p.email { font-weight:bold; }
.c_contacto .info p.email a { color:#F6851F; }
.c_contacto .info p.email a:hover, .c_contacto .info p.email a:focus { text-decoration:underline; }
.c_contacto .info .title { font-weight:normal; }